.picker-inputs {
	padding: $unit;
	background: rgba(255,255,255,.75);
	display: flex;
	flex-direction: column;
	width: 25rem;
}

.color-input {
	margin-bottom: 1.5*$unit;
}
.color-input__label {
	font: $font-xlarge;
	font-weight: $fw-light;
}
.color-input__display {
	margin: 2px 0;
	font: $font-large;
	font-weight: $fw-light;
}
.editing .color-input__display {
	display: none;
}

.rgb-input, .hsl-input {
	input {
		width: 33%;
	}
}