.picker-inputs {
	padding: $unit;
	height: 25rem;
}
.picker-inputs__inner {
	height: 100%;;
	padding: $unit;
	background: rgba(255,255,255,.85);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.color-input__label {
	font: $font-xlarge;
	font-weight: $fw-light;
}
.color-input__display {
	margin: 2px 0;
	font: $font-large;
	font-weight: $fw-light;
}
.editing .color-input__display {
	display: none;
}

.rgb-input, .hsl-input {
	input {
		width: 33%;
	}
}