.picker-display {
	position: relative;
}
.picker-display__inner {
	height: 100%;
	width: auto;
	padding: $unit;
	position: relative;
}
.picker-display__background-image {
	position: absolute;
	top: 2.5*$unit;
	right: 1.5*$unit;
	left: 1.5*$unit;
	bottom: 1.5*$unit;
	background: url('/img/sloth.png');
	background-size: 90% auto;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.sample-header {
	font: $font-h2;
	padding: $unit .5*$unit;
	border-bottom: 2px solid rgba(255,255,255,.85);
}
.sample-paragraph {
	font: $font-large;
	padding: $unit .5*$unit;
}
.picker-display__dark {
	.sample-header {
		background: rgba(255,255,255,.85);
		border-bottom: none;
	}
	.sample-paragraph {
		color: white;
	}
}
@media (max-width: $bp) {
	.picker-display__background-image {
		background-size: auto 75%;
		background-repeat: repeat-x;
	}
}