.picker-display {
	position: relative;
}
.picker-display__inner {
	height: 100%;
	width: auto;
	padding: $unit;
	position: relative;
}
.picker-display__background-image {
	position: absolute;
	bottom: 0;
	padding: 2.5*$unit 1.5*$unit;
	img {
		width: calc(100% - 50px);
		max-width: 100%;
	}
}
.sample-header {
	font: $font-h2;
	padding: $unit .5*$unit;
	border-bottom: 2px solid rgba(255,255,255,.85);
}
.sample-paragraph {
	font: $font-large;
	padding: $unit .5*$unit;
}
.picker-display__dark {
	.sample-header {
		background: rgba(255,255,255,.85);
		border-bottom: none;
	}
	.sample-paragraph {
		color: white;
	}
}