html {
	font-size: 62.5%;
	font-family: $sans-serif;
	* {
		margin: 0;
		box-sizing: border-box;
		font: $font-normal;
	}
}

body {
	color: $black;
}
canvas {
	display: block;
}
input {
	max-width: 100%;
	&:invalid {
		box-shadow: none;
	}
}
[data-reactid] {
	font-weight: inherit;
	font: inherit;
}
// Layout
.site-main {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}
.picker-controls {
	width: 35*$unit;
	padding: 2.5*$unit 1.5*$unit;
}
.picker-wheel {
	overflow: hidden;
	position: relative;
}
.picker-wheel {
	width: 33%;
	padding: 2.5*$unit;
}
.picker-display {
	height: auto;
	padding: 2.5*$unit 1.5*$unit;
	width: calc(67% - 350px);
}

@media (max-width: $bp) {
	.picker-controls, .picker-wheel {
		width: 50%;
	}
	.picker-display {
		width: 100%;
	}
}
